/* imports */
@import url("https://fonts.googleapis.com/css?family=Roboto");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  /* variables */
  --accent: #2574a9;
  --lightAccent: #1e8bc3;
  --white: #fff;
  --dark: #222;
  --light: #444;
  --lightest: #f9f9f9;
}

/* navigation */

.main-nav {
  max-width: 100%;
  min-height: 5vh;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent);
}
.main-nav a {
  text-decoration: none;
  color: var(--white);
}
.main-nav .btn {
  border: 2px solid var(--white);
  font-size: 0.8rem;
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  box-shadow: none;
}
.main-nav .btn:hover {
  background-color: var(--white);
  color: var(--accent);
  box-shadow: none;
}
.branding {
  font-weight: 600;
  font-size: 1.2rem;
}
.branding:hover {
  text-decoration: none;
}

/* banners */

.signup {
  min-height: 40vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1472803828399-39d4ac53c6e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=821&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
}
.signup h1 {
  text-align: center;
}
.signup-lg {
  min-height: 90vh;
}
.banner-form {
  min-width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-form input,
.banner-form .btn {
  max-width: 100%;
  margin: 0.5rem 0;
}
.banner-form input {
  border: 2px solid var(--lightAccent);
  border-radius: 5px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
}
.banner-form input:focus {
  outline: none;
  border-color: var(--accent);
  border-width: 3px;
}

/* icons section */
.icons,
.testimonials {
  padding: 25% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--lightest);
}
.icon-box {
  max-width: 75%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-box h2,
.icon-box p {
  text-align: center;
}

/* showcase */
.img {
  min-height: 80vh;
  max-width: 100%;
}
.i1 {
  background: url(https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.i2 {
  background: url(https://images.unsplash.com/photo-1528660544347-95a93c58e424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.i3 {
  background: url(https://images.unsplash.com/photo-1516981879613-9f5da904015f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.description {
  min-height: 50vh;
  padding: 3rem;
}

/* testimonials */
.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 0 3rem;
}
.client p {
  text-align: center;
}
.client img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0 3px 4px 4px #ccc;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  margin-left: -2rem;
}
footer ul li {
  list-style-type: none;
  margin: 0 1rem;
}

/* components */
.btn {
  border-radius: 3px;
  border: none;
  color: var(--white);
  background-color: var(--accent);
  padding: 1rem 0;
  font-weight: 600;
  box-shadow: 0 2px 5px 2px var(--dark);
}
.btn:hover {
  background-color: var(--lightAccent);
  box-shadow: 0 4px 7px 4px var(--dark);
}
a,
i {
  color: var(--accent);
}
a {
  text-decoration: none;
}

i:hover {
  color: var(--lightAccent);
  transform: scale(1.1, 1.1);
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--lightAccent);
}
p {
  font-size: 1.2rem;
  color: var(--light);
  text-align: justify;
}
h1 {
  font-size: 2rem;
}

/* media queries */
@media only screen and (max-width: 522px) {
  .main-nav {
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 426px) {
  .banner-form {
    min-width: 80%;
    flex-direction: row;
  }
  .banner-form input {
    flex: 3 0 60%;
    margin-right: 0.5rem;
  }
  .banner-form .btn {
    flex: 0 1 30%;
  }
  .description {
    padding: 4rem 6rem;
    min-height: 35vh;
  }
  .client {
    padding: 0 25%;
  }
  p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 769px) {
  p {
    font-size: 1.2rem;
  }
  .banner-form {
    min-width: 55%;
  }
  .banner-form input {
    flex: 3 0 65%;
  }
  .banner-form .btn {
    flex: 0 1 25%;
  }
  .icons {
    flex-direction: row;
    padding: 3.5rem 1rem;
  }
  .showcase {
    display: grid;
    grid-template-areas:
      "d1 i1"
      "i2 d2"
      "d3 i3";
  }
  .d1 {
    grid-area: d1;
  }
  .d2 {
    grid-area: d2;
  }
  .d3 {
    grid-area: d3;
  }
  .i1 {
    grid-area: i1;
  }
  .i2 {
    grid-area: i2;
  }
  .i3 {
    grid-area: i3;
  }

  .testimonials {
    min-width: 100%;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-rows: auto 60vh;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .testimonials h1 {
    grid-row: 1/2;
    grid-column: 1/6;
    align-self: start;
    justify-self: center;
  }
  .client {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .client-1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .client-2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .client-3 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  footer {
    display: grid;
    grid-template-areas:
      "left1 . right1"
      "left2 . right1";
    margin: 1rem;
    justify-content: space-between;
  }
  footer .links {
    grid-area: left1;
    align-self: end;
    margin: 1rem 0 0 -1.5rem;
  }
  footer p {
    grid-area: left2;
    align-self: start;
    font-size: 1rem;
    margin-left: 1.5rem;
  }
  footer .foot-icons {
    grid-area: right1;
    align-self: center;
  }
}
